.intercambio-main .intercambio-header .intercambio-logo {
  position: relative;
  background: repeat top left #521E1B;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 400px;
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  -webkit-box-shadow: -1px 6px 15px -5px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: -1px 6px 15px -5px rgba(0, 0, 0, 0.59);
  box-shadow: -1px 6px 15px -5px rgba(0, 0, 0, 0.59);
}
.intercambio-main .intercambio-header .intercambio-logo h1.logo {
  width: 226px;
  height: 235px;
  background: no-repeat top left #521e1b;
  text-indent: -90000px;
  position: absolute;
  bottom: 15px;
  right: 20px;
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  -webkit-box-shadow: -1px 6px 15px -5px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: -1px 6px 15px -5px rgba(0, 0, 0, 0.59);
  box-shadow: -1px 6px 15px -5px rgba(0, 0, 0, 0.59);
}
.intercambio-main article {
  border-left: 5px solid #d4d4d4;
  background-color: #eaeaea;
  padding: 15px;
  margin: 10px 0 50px 0;
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  -webkit-box-shadow: -1px 6px 15px -5px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: -1px 6px 15px -5px rgba(0, 0, 0, 0.59);
  box-shadow: -1px 6px 15px -5px rgba(0, 0, 0, 0.59);
}
.intercambio-main article figure img {
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  -webkit-box-shadow: -1px 6px 15px -5px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: -1px 6px 15px -5px rgba(0, 0, 0, 0.59);
  box-shadow: -1px 6px 15px -5px rgba(0, 0, 0, 0.59);
}
