@import "../../../participacao-tema/css/less/elements.less";
.intercambio-main{
    &-main{}
    &-header{}
    &-content{}
    article{
        border-left: 5px solid #d4d4d4;
        background-color: #eaeaea;
        padding: 15px;
        margin-bottom:10px;
    }
}
